<h2 class="list_title"><%= @list.title%></h2>
<h4 class="description"><%= @list.description%></h4>

<div id ="items_wrapper">
  <%= render @list.items %>

  <%= render "items/form" %>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', lists_path %>
